{
	"api_token": "0123456789:abcdefghijklmnopqrstuvwyz-x-0a1b2c3d4e",
	"available_ids": [
		"telegram_id_1",
		"telegram_id_2",
		"telegram_id_3"
	],
	"controllable_services": [
	],
	"monitor_interval": 3,
	"cli_port": 59992,
	"is_verbose": false
}
